/* Stylesheet for the diazo theme. */
/* Webfont */
body, body p, body a,
#global-wrapper{
    font-family: 'Roboto', Arial, sans-serif;
    color:#000;
    font-size: 15px;
}
body #global-wrapper #content-wrapper{
    background-color: #dadada
}
input, button, select, textarea{
  color:#000;
  font-family: Arial, sans-serif;
  font-size: 14px
}
/* Language feature */
.lang{
  display:none;
}
body.site-es .lang-es{
 display:block;
}
body.site-en .lang-en{
 display:block;
}

/* Header styles */
#header{
    border-top:10px solid #28569f;
}
#header .container{
  padding:0;
}
#wrapper-inner #header .navbar{
    margin-top: 10px;
}
body #portal-logo{
  text-align: center;
  position: relative;
  z-index: 999;
}

/* Navigation */
#navigation{
    position:relative;
    margin-top:-127px;
}
#navigation .container{
    height:116px;
}
#navigation .navbar-toggle{
  z-index:1010;
}
#navigation .list-open li{
  z-index: 1011;
  width:100%;
}
#breadcrumbs-current{
  color:#28569f;
  font-weight: 400;
}
#portal-breadcrumbs{
  font-weight: 400;
}

.language-switcher{
     top:62px;
}

h1, h2, body h3, body h4,
body .documentFirstHeading{
  font-family: 'Roboto', Arial, sans-serif;
  color:#009bd1;
}

body h2, body h2 a{
 font-family: 'Roboto', Arial, sans-serif;
  color:#009bd1;
  font-size:18px;
  font-weight: 400;

}

h1,
body .documentFirstHeading{
  font-size:20px;
  text-transform: uppercase;
  border-bottom: 1px solid #28569f;
  padding-bottom:10px;
  margin-bottom:15px;
  font-weight: normal;
  color:#28569f;
}
#content-wrapper .documentDescription{
  font-style: italic;
  font-size: 18px;
  color:#009bd1;
  margin-bottom:20px;
}

@media screen and (max-width: 768px) {
  .language-switcher {
    top:0;
  }
}
.navbar-nav{
    float:right;
    padding-right: 65px;
}

#navigation .navmenu li a{
    padding: 10px 15px;
}
@media screen and (max-width: 991px) {
    .navbar-nav {
      padding-right: 55px;
    }
    #navigation .navmenu li a{
        padding:10px;
    }
}
.header-normal #global-wrapper #wrapper-inner #navigation,
.header-normal #global-wrapper #wrapper-inner #navigation .container #id_nav1,
.header-normal #global-wrapper #wrapper-inner #navigation .container #id_nav1 ul.navmenu,
.header-normal #global-wrapper #wrapper-inner #navigation .container #id_nav1 ul.navmenu li,
.header-normal #global-wrapper #wrapper-inner #navigation .container #id_nav1 ul.navmenu li a{
    background-color: transparent !important;
}
.header-normal #global-wrapper #wrapper-inner #navigation .container #id_nav1 ul.navmenu li.selected,
.header-normal #global-wrapper #wrapper-inner #navigation .container #id_nav1 ul.navmenu li a:hover,
.header-light #global-wrapper #wrapper-inner #navigation .container #id_nav1 ul.navmenu li a:focus{
  background-color: #f4bb15 !important;
  color:#fff !important;
}

.header-normal #global-wrapper #wrapper-inner #navigation .container #id_nav1 ul.navmenu li a
{
    color:#28569f !important;
    text-transform: uppercase;
    font-size: 18px;
}
.header-normal #global-wrapper #wrapper-inner #navigation .container #id_nav1 ul.navmenu li.selected a
{
    color:#fff !important;
}
#navigation #id_nav1.navbar-collapse{
    border: 0 none transparent;
}

/* Footer styles*/
#footer-wrapper #footer-top,
#footer-wrapper #footer-top #footer-top-inner{
    background-color: #fff;
}

#footer-wrapper #colophone,
#footer-wrapper #portal-footer{
  background-color: #28569f;
}
#footer-wrapper #colophone .colophone-inner{
    background-color: transparent;
}
#footer-wrapper #colophone .colophone-inner{
    padding-top:16px;
}
#colophone,
#colophone p,
#colophone a{
    font-size: 11px;
    text-align: center;
    color:#fff;
    text-decoration: none;

}
#portal-footer{
  padding:16px 0;
  font-size: 16px;
  color:#fff;
  font-weight: 300;
}

#footer-top img{
    min-width: 30px;
}
#footer-wrapper #footer-top #footer-top-inner .doormatColumn h3{
    color:#000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}
#footer-wrapper #footer-top #footer-top-inner .doormatColumn .doormatSection,
#footer-wrapper #footer-top #footer-top-inner .doormatColumn .doormatSection a{
    color:#000;
    text-decoration: none;
}

table.invisible td{
    vertical-align: middle;
}

/* Carousel */
#carousel-wrapper{
  clear: both;
}
.carousel-pager{
  position: absolute;
  z-index: 998;
  bottom:20px;
  left:10%;
}
.carousel-pager-item, .carousel-pager-button-prev, .carousel-pager-button-next{
  border-radius: 10px;
  padding: 7px;
  font-size: 1px;
  color: transparent;
  margin-left: 5px;
  box-shadow: 4px 5px #222;
}

.carousel-pager-item, .carousel-pager-button-prev, .carousel-pager-button-next{
  background-color:#fff;
}
.carousel-pager-item-active{
  background-color: #f4bb15;
}
/* Listing results */
/* pagination */
.listingBar a{
  background-color: #fff;
  color:#5a7c85;

}

.listing-summary .tileItem section{
  padding:15px 10px 0 15px;
}
.listing-summary h1,
.improved .name-of-property a{
  border-bottom: 0 none transparent;
  color:#28569f;
  font-size:18px;
  text-transform: none;
}
.improved .status{
  border-bottom: 1px dotted #009bd1;
  color:#009bd1;
  font-size: 16px;
  padding-bottom: 8px;
  margin-bottom:10px;
}

.improved .status a{
  color:#009bd1;
  font-size: 16px;

}

.listing-summary .bedbath,
.improved .location,
.improved .locationtype{
  margin-bottom: 15px
}
.improved .location a,
.improved .location,
.listing-summary .bedbath .value,
.listing-summary .locationtype .value,
.listing-summary .area .value{
  color: #828282;
}
.tileItem{
  position: relative;
}
.listing-summary .price{
  position:absolute;
  right:0;
  bottom: 0;
}
.listing-summary .price p {
    color: #fff;
    font-size: 24px;
    background-color: #f4bb15;
    padding:10px 25px;
    margin:0;
}
/* Developments */
.development__amenities .amenitiesicon,
.distanceicon .icon{
  color:#009bd1;
}
.development_details .data_row .beds{
  padding-right: 0;
}

.development_details h2{
  font-size:21px;
  margin-bottom:15px;
}
.development_details #group-listings li a:link{
  background-color: #28569f;
}

.development_details #group-listings li a:hover,
.development_details #group-listings li a.current,
#content .development_details #group-listings li a.current:hover,
#content .development_details #group-listings li a.current:focus,
#content .development_details #group-listings li a.current:visited,
#content .development_details #group-listings li a:hover,
#content .development_details #group-listings li a:focus,
#content .development_details #group-listings li a:visited
{
  background-color: #009bd1;
}
.listing-summary .tileItem .tileHeadline a{
  font-size: 15px;
}
.development_details .listing-summary .price{
  position: relative;
  background-color: #009bd1;
}
.development_details .listing-summary .tileItem .data_row{
  background-color: #28569f;
}
.development__header{
  clear:both;
  float:none;
}
.development_title{
  border-bottom:0 none transparent;
}
.representative__name{
  font-weight:400;
}
@media (max-width: 900px) {
  .development__projectmap{
    display:none;
  }
}

/* portlet */
.portlet .portletHeader{
  background-color: transparent;
}
.portlet .portletHeader,
.portlet .portletHeader a,
.portlet .portletHeader span{
  font-weight: 400;
  color:#009bd1 !important;
  font-size:21px;

}

iframe{
  border: 0 none transparent;
}
/* search forms */
#global-wrapper label{
  color:#28569f;
}
/* Search & send buttons */
#global-wrapper input.submit-widget,
.pfg-form input[type=submit]
{
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color:#fff;
  background-color: #f4bb15;
  padding:0 15px;
  border:1px solid #000;
  text-shadow: 2px 2px 0 #5b6178;
  border-radius: 6px;
}
#global-wrapper input.submit-widget:hover{
  box-shadow: none;
}
/* Error messages */
dl.error,
.portletQuickSearch .error dd{
    border-color: transparent;
    background-color: transparent;
}

div.field.error,
.portletQuickSearch .error{
  margin:inherit;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  text-shadow: 0 0 0 transparent;
}
dl.portalMessage,
div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning{
  font-family: Arial, sans-serif;
  color:red;
  font-style: normal;
}
.portletQuickSearch .portalMessage.error{
  display: none;
}

/* QuickSearch Portlet */
.portletQuickSearch,
#global-wrapper .portletQuickSearch label{
  background-color: #009bd1;
  color:#fff;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 0 #5b6178;
  font-size:16px !important;
  letter-spacing: 1px;
}
.portletQuickSearch  span.label{
  color: #fff;
  font-size: 14px;
}

.portletQuickSearch .form-rows,
.portletQuickSearch #formfield-form-widgets-ownership_type,
.portletQuickSearch #formfield-form-widgets-lot_size,
.portletQuickSearch .portletHeader,
.portletQuickSearch .option input,
.portletQuickSearch .option label,
.portletQuickSearch #formfield-form-widgets-view_type label,
.portletQuickSearch #form-widgets-beds-5,
.portletQuickSearch #form-widgets-beds-6,
.portletQuickSearch #form-widgets-beds-7,
.portletQuickSearch #form-widgets-beds-8,
.portletQuickSearch #form-widgets-beds-9,
.portletQuickSearch #form-widgets-baths-5,
.portletQuickSearch #form-widgets-baths-6,
.portletQuickSearch #form-widgets-baths-7,
.portletQuickSearch #form-widgets-baths-8,
.portletQuickSearch #form-widgets-baths-9,
.portletQuickSearch #form-widgets-interior_area-6,
.portletQuickSearch #form-widgets-interior_area-7,
.portletQuickSearch #form-widgets-interior_area-8,
.portletQuickSearch #form-widgets-interior_area-9
{
  display: none;
}
.portletQuickSearch .form-row-beds-baths,
.portletQuickSearch .form-row-price,
.portletQuickSearch .form-row-filter-other{
  display:block;
}
.portletQuickSearch #formfield-form-widgets-view_type .option label[for="form-widgets-view_type-10"],
.portletQuickSearch #formfield-form-widgets-view_type .option label[for="form-widgets-view_type-10"] .label{
  display: inline;
  font-size: 16px;
}
.portletQuickSearch #formfield-form-widgets-view_type .collapse{
  display: block !important;
}

.portletQuickSearch .option input[value="ocean_view"],
.portletQuickSearch label[for=form-widgets-view_type-10]{
  display: inline;
}
#content-wrapper dl.portlet.portletQuickSearch .portletItem{
  padding:12px;
}
span.label{
  font-size:14px;
  font-weight: 400;
}
.portletQuickSearch #form-widgets-view_type span.label{
  font-size: 16px;
  letter-spacing: 1px;
}

#listing-search form{
  display: block;
  background-color: #ececec;
  padding:20px;
}
/* full screen carousel */
@media screen and (max-width: 700px) {
  .carousel .carousel-banners .carousel-banner img{
    min-width: 700px;
  }
}
/* FormGen */
.pfg-form form{
  display: block;
  background-color: #ececec;
  padding:20px;
}
#global-wrapper .pfg-form label{
  color:#000;
  font-weight: 400;
  font-size: 16px;
}
.pfg-form  .field input[type="text"][size]{
  width: 100%;
  border:1px solid #000;
  height:2em;
  background-color: #fff;
}
#content textarea{
  border:1px solid #000;
  background-color: #fff;
}
/* frontpage */
.listing-search-tile form{
  display:block;
  overflow: auto;
  height:auto;
  position:relative;
  padding:20px 40px 10px;
}
.listing-search-tile #formfield-form-widgets-view_type > label{
  display: none;
}

.listing-search-tile #form-widgets-view_type .option{
  display: none;
}

.show_me,
.show_me .label,
.listing-search-tile #form-widgets-view_type{
  display: inline !important;
  color:#000;
  font-size: 18px;
}
.show_me input{
  height:18px;
  width:18px;
  float:right;
}
.listing-search-tile #formfield-form-widgets-beds #form-widgets-beds-min,
.listing-search-tile #formfield-form-widgets-beds #form-widgets-beds-max,
.listing-search-tile #formfield-form-widgets-price_min #form-widgets-price_min,
.listing-search-tile #formfield-form-widgets-price_max #form-widgets-price_max{
  height:35px;
  width:160px;
  border-radius: 7px;
  padding-left: 10px;
  color:#000;
}
.listing-search-tile #formfield-form-widgets-beds #form-widgets-beds-min{
  margin-right:15px;
  width:160px;
}
.listing-search-tile #formfield-form-widgets-price_min,
.listing-search-tile #formfield-form-widgets-price_max{
  width:auto;
  margin-right:18px;
}

.listing-search-tile #formfield-form-widgets-view_type{
  position: absolute;
  top:25px;
  right:40px;
}
.listing-search-tile .formControls{
  position: absolute;
  right:40px;
}


/* move the form */
#global-wrapper .row.move_me{
  position:absolute;
  top:-300px;
  width:580px;
  background-image: url('bg.png');
  border-radius: 10px;
  left:50%;
  margin-left:-290px;
}
@media screen and (max-width: 580px){
  #global-wrapper .row.move_me{
    display:none;
  }
}